body
{
    /* background-color: gray; */
    background-image: url(imagenes/fondo.jpg);
    background-size: 100% 100%;
    object-fit: contain;
    background-repeat: no-repeat;
}
h1
{
    font-family: monospace;
    color: rgb(147, 231, 29);
    font-style: italic;
    font-size: 4em;
    text-align: center;
    text-decoration: overline;
    /* text-decoration: underline; */
}
.grid
{
    width: 75%;
    height: 450px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    border: 1px solid white;
    margin: 0 auto;
}
.movimiento {
    display: flex; /*alinear los marcianos en una fila*/
    justify-content: flex-start; /* Alinear los elementos al principio del contenedor */
    align-items: center; /* Centrar verticalmente los elementos */
}

.marciano {
    width: 5%;
    height: 5vh;
    background-image: url(imagenes/marciano.png);
    background-size: contain;
    background-position: center;
    object-fit: contain;
    background-repeat: no-repeat;
    margin: 0; 
    padding: 0;
    position: relative;
}
#disparador
{
    width: 20%;
    height: 15vh;
    background-image: url(imagenes/nave.png);
    /* background-size: 40% 15vh; */
    background-size: contain;
    background-position: center;
    object-fit: contain;
    background-repeat: no-repeat;
    /* position: absolute; */
    margin: 1em;
}
#disparador
{
    grid-row: 2/span 1;
    position: absolute;
    bottom: 0;
}
#balas {
    position: absolute;
    background-color: yellowgreen;
    visibility: hidden; 
    color: yellow;

}
