/********************** DISPOSITIVOS PEQUEÑOS (MOVILES)********************/
@media only screen and (max-width: 320)
{
    .encabezado {
        height: 30vh;
        background-size: 100% 30vh;
    }

    .botones {
        width: 90%;
    }

    .botones button {
        font-size: 1rem;
    }

    .iconos {
        width: 70%;
    }

    .ima_icono1, .Icono2, .Icono3 {
        width: 10%;
    }

    #iconos {
        margin-left: 5%;
        width: 90%;
    }

    #iconos button {
        font-size: 1rem;
        margin: 1vh;
    }

    .comentarios > div:first-child {
        width: 90%;
    }

    .comentarios div:nth-child(2) {
        width: 90%;
        margin-left: 5%;
    }

    .Foto_coment1,
    .Foto_coment2 {
        height: 8vh;
    }

    .Coment1,
    .Coment2,
    .persona1,
    .persona2 {
        font-size: 1rem;
    }

    .pie {
        height: 25vh;
        background-size: 100% 25vh;
    }

    #marca_logo2 {
        height: 12vh;
        margin-top: -16vh;
    }

    .logoletra {
        margin-top: -12vh;
    }

    #grande {
        font-size: 2rem;
    }

    .pie h1,
    .pie p {
        font-size: 1rem;
    }
}
.encabezado
{
    margin-top: 0;
    border: 1px solid green;
    width: 100%;
    height: 40vh;
    background-image: url('imagenes/prueba2.jpg');
    object-fit: contain;
    background-size: 100% 40vh;
    background-repeat: no-repeat;
}

html, body
{
    min-height: 100%;
    overflow-x: hidden;
}

body
{
    margin: 0;
}

#menu
{
    text-align: right;
}

#menu button
{
    background-color: transparent;
    border: 0;
    color: white;
    display: inline-block;
    padding: 0 2%;
    margin: 0;
    margin-top: 0;
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
}

#menu button:hover
{
    font-weight: bold;
}

#marca_logo
{
    background-image: url('imagenes/marca_logo5.png');
    object-fit: contain;
    background-size: contain;
    background-repeat: no-repeat;
    height: 20vh;
    width: 40%;
    position: absolute;
    margin-left: 5vw;
}

.tema
{
    text-align: center;
    color: white;
    font-family: "cursive";
}

.encabezado p
{
    text-align: center;
    position: fixed;
    margin: auto;
    top: 2vh;
    font-size: 1.5vw;
    font-family: Arial;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tema p
{
    font-family: Arial;
    text-align: center;
}

.tema h1
{
    margin-top: 8vh;
    text-align: center;
}

.botones
{
    margin: auto;
    width: 80%;
    padding: 1.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botones button
{
    background-color: transparent;
    border-color: white;
    color: white;
    border-radius: 5px;
    padding: 1% 0.7%;
    margin: 1.5%;
    margin-top: 0;
}

.botones button:hover
{
    background-color: white;
    color: black;
}

body > p
{
    color: #80b1ed;
    text-align: center;
    font-size: 2vw;
    margin-left: auto;
}

/* ****************************ICONOS IMAGENES**************************** */
.iconos 
{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    
}

.ima_icono1,.Icono2,.Icono3
{
    /* REVISAR ESPACIO ENTRE ICONOS(IMAGENES) */
    flex-grow: 1;
    width: 5%;
    margin-bottom: 0.5vh;
    margin-left: 2vh;
}

/* ************************TEXTO DE ICONOS************************** */

#iconos
{
    margin-left: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    width: 80%;
}

#iconos button {
    background-color: transparent;
    border: 0;
    color: black;
    text-align: center;
    margin: 2vh;
    margin-top: 0;
    font-size: 1.3vw;
}

#iconos button:hover {
    background-color: transparent;
    font-weight: bold;
}

/* ************************COMENTARIOS GENERAL**************************** */
.comentarios
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.comentarios > div:first-child 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%; /* Ocupa la mitad del ancho de la pantalla */
    margin-left: 0; /* Coloca el margen izquierdo a cero */
    margin-top: 4vh;
    margin-right: auto;
}

.comentarios div:nth-child(2)
{
    margin-left: auto;
    margin-bottom: 2vh;
    width: 80%;
    margin-left: 10%;
}

/* ***********************COMENTARIO 1******************************* */
.Foto_coment1
{
    width: auto;
    height: 10vh;
}

.Coment1 
{
    font-size: 1.5vw;
    color: black;
    margin-left: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.persona1
{
    color: #80b1ed;
    font-size: 1.3vw;
    margin-left: 0; /* Ajusta según tus preferencias */
    margin-top: 0.5vh; /* Ajusta según tus preferencias */
    text-align: left;
}
/* ***********************COMENTARIO 2******************************* */
.Foto_coment2 {
    position: relative;
    width: auto;
    height: 10vh;
    align-content: center;
    margin-left: 50%;
}

.Coment2 {
    font-size: 1.5vw;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 0;
    text-align: right;
}

.persona2 {
    color: #80b1ed;
    font-size: 1.3vw;
    text-align: right;
    margin-right: 0;
    margin-top: 0;
}

/* **********************PIE DE PÁGINA***************************** */
.pie {
    border: 1px solid grey;
    width: 100%;
    height: 35vh;
    background-color: rgb(60, 60, 88);
    background-size: 100% 35vh;
    background-repeat: no-repeat;
}

#marca_logo2
{
    background-image: url('imagenes/marca_logo5.png');
    object-fit: contain;
    background-size: contain;
    background-repeat: no-repeat;
    height: 17vh;
    width: 20%;
    position: relative;
    margin-left: 70%;
    margin-top: -22vh;
}

.logoletra {
    margin-top: -14vh;
    margin-left: 80%;
}

.pie p {
    width: 40%;
}

#grande {
    color: white;
    margin-left: 10%;
    font-family: Arial;
    font-size: 2.5vw;
}

.pie h1, p {
    color: white;
    margin-left: 10%;
    font-family: Arial;
    font-size: 1.5vw;
    margin-top: 4vh;
}


/* ****************************************************************** */
/**************** DISPOITIVOS MEDIANOS (768px - Tablets)***************/
@media only screen and (max-width: 768px) {
    .encabezado {
        height: 25vh;
        background-size: 100% 25vh;
    }

    .botones {
        width: 80%;
    }

    .botones button {
        font-size: 1rem;
    }

    .iconos {
        width: 80%;
    }

    .ima_icono1, .Icono2, .Icono3 {
        width: 15%;
    }

    #iconos {
        margin-left: 10%;
        width: 80%;
    }

    #iconos button {
        font-size: 1rem;
        margin: 1vh;
    }

    .comentarios > div:first-child {
        width: 80%;
    }

    .comentarios div:nth-child(2) {
        width: 80%;
        margin-left: 10%;
    }

    .Foto_coment1,
    .Foto_coment2 {
        height: 12vh;
    }

    .Coment1,
    .Coment2,
    .persona1,
    .persona2 {
        font-size: 1rem;
    }

    .pie {
        height: 20vh;
        background-size: 100% 20vh;
    }

    #marca_logo2 {
        height: 12vh;
        margin-top: -16vh;
    }

    .logoletra {
        margin-top: -12vh;
    }

    #grande {
        font-size: 1.5rem;
    }

    .pie h1,
    .pie p {
        font-size: 1rem;
    }
}



/* ********************DISPOSITIVOS GRANDES(1024PX)************************ */
@media only screen and (min-width: 768px) and (max-width: 1024px)
{
    .encabezado {
        height: 30vh;
        background-size: 100% 30vh;
    }

    .botones {
        width: 70%;
    }

    .botones button {
        font-size: 1.2rem;
    }

    .iconos {
        width: 60%;
    }

    .ima_icono1, .Icono2, .Icono3 {
        width: 8%;
    }

    #iconos {
        margin-left: 10%;
        width: 80%;
    }

    #iconos button {
        font-size: 1.2rem;
        margin: 1vh;
    }

    .comentarios > div:first-child {
        width: 80%;
    }

    .comentarios div:nth-child(2) {
        width: 80%;
        margin-left: 10%;
    }

    .Foto_coment1,
    .Foto_coment2 {
        height: 10vh;
    }

    .Coment1,
    .Coment2,
    .persona1,
    .persona2 {
        font-size: 1.2rem;
    }

    .pie {
        height: 25vh;
        background-size: 100% 25vh;
    }

    #marca_logo2 {
        height: 12vh;
        margin-top: -16vh;
    }

    .logoletra {
        margin-top: -12vh;
    }

    #grande {
        font-size: 2rem;
    }

    .pie h1,
    .pie p {
        font-size: 1.2rem;
    }
}
