.encabezado
{
    margin-top: 0px;
    border: 1px solid green;
    width: 100%;
    height: 330px;
    background-image: url('imagenes/prueba2.jpg');
    object-fit: contain;
    background-size: 100% 330px;
    background-repeat: no-repeat;
}
html,body
{
    min-height: 100%;
    overflow-x: hidden;
}
body
{
    margin: 0px;
}

#menu
{
    text-align: right;
}
#menu button
{
    background-color: transparent;
    border: 0px;
    color: white;
    display: inline-block;
    padding: 0px 10px;
    margin: 0px;
    margin-top: 0px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
#menu button:hover
{
    font-weight: bold;
    /* background-color: rgb(108, 108, 207); */
}
#marca_logo
{
    background-image: url('imagenes/marca_logo5.png');
    object-fit: contain;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100px;
    width: 30%;
    position: absolute;
    margin-left: 110px;
}

.tema
{
    text-align: center;
    color: white;
    font-family: "cursive";
}
.encabezado p/*BIENVENIDO SR SACRISTAN*/
{
    text-align: center;
    position: fixed;
    margin: auto;
    top: 10px;
    font-size: 15px;
    font-family: arial;
    left: 50%; 
    transform: translate(-50%, -50%); /* Ajusta la posición a la mitad del ancho y alto */
}
.tema p
{
    font-family: Arial;
    text-align: center;
}

.tema h1
{
    margin-top: 130px;
    text-align: center;
}
.botones
{
    margin: auto;
    width: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.botones button
{
    background-color: transparent;
    border-color: white;
    color: white;
    border-radius: 5px;
    padding: 10px 7px;
    margin: 10px;
    margin-top: 0px;
}
.botones button:hover
{
    background-color: white;
    color: black;
}

body>p /*EDITAR TEXTO EN GENERAL*//*LO QUE NUESTROS CLIENTES DICEN*/
{
    color: #80b1ed;
    text-align: center;
    font-size: 20px;
    margin-left: auto;
}
/*****************************************/
.iconos/*CLASS*/
{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.ima_icono1/*PRIMER ICONO, IMAGEN*/
{
    width: 18%;
    margin: 40px;
    margin-bottom: 5px;
}
.Icono2/*CENTRAR ICONO 2*/
{
    margin: 40px;
    margin-bottom: 5px;
}
.Icono3/*CENTRAR ICONO 3*/
{
    margin: 40px;
    margin-bottom: 5px;
}

#iconos/*TEXTO: NUESTRO HORARIO, NUEVOS PROYECTOS...*/
{
    margin-left: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    width: 50%;
}
#iconos button/*TEXTO 1, 2 Y TEXTO 3 DE LOS ICONOS*/
{
    background-color: transparent;
    border: 0px;
    color: black;
    text-align: center;
    margin: 35px;
    margin-top: 0px;
    font-size: 13px;
}
#iconos button:hover/*TEXTO 1, 2 Y TEXTO 3 DE LOS ICONOS*/
{
    background-color: transparent;
    /* border: 1px black; */
    font-weight: bold;
}

/*****************************************/
.comentarios 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
/*DIV COMENTARIO 1*/
/*ACCEDE AL PRIMER DIV*/
.comentarios > div:first-child 
{
    width: 35%;
    margin-left: 200px;
    margin-top: 40px;
    margin-right: auto; /* Alinea el margen derecho en el eje central */
}
/*DIV COMENTARIO 2*/
.comentarios div:nth-child(2)
{
    margin-left: auto; /* Alinea el margen izquierdo en el eje central */
    margin-bottom: 20px;
    width: 35%;
    margin-left: 30%;
}

.Foto_coment1 /*POSICIÓN DE LA FOTO DEL PRIMER COMENTARIO*/
{
    position: relative;
    width: auto;
    height: 120px;
}
.Coment1 /*FUENTES DEL COMENTARIO 1*/
{
    font-size: 14px;
    color: black;
    margin-left: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.persona1 /**/
{
    color: #80b1ed;
    font-size: 13px;
    margin-left: 10px;
    margin-top: 0px;
    text-align: left;
}

.Foto_coment2
{
    position: relative;
    width: auto;
    height: 120px;
    align-content: center;
    margin-left: 200px;
}
.Coment2
{
    font-size: 14px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 0px;
    text-align: right;
}
.persona2
{
    color: #80b1ed;
    font-size: 13px;
    text-align: right;
    margin-right: 0px;
    margin-top: 0px;
}

/*PIE DE PAGINA */
.pie
{
    border: 1px solid grey;
    width: 100%;
    height: 200px;
    background-color: rgb(60, 60, 88);
    background-size: 100% 200px;
    background-repeat: no-repeat;
}
#marca_logo2
{
    background-image: url('imagenes/marca_logo5.png');
    object-fit: contain;
    background-size: contain;
    background-repeat: no-repeat;
    height: 170px;
    width: 30%;
    position: relative;
    margin-left: 65%;
    margin-top: -170px;
}
.logoletra
{
    margin-top: -140px;
    margin-left: 80%;
}
.pie p
{
    width: 50%;
}
#grande
{
    color: white;
    margin-left: 100px;
    font-family: Arial;
    font-size: 25px;
}
.pie h1,p
{
    color: white;
    margin-left: 100px;
    font-family: Arial;
    font-size: 15px;
    margin-top: 30px;
}